body{
    max-height: 100vh;
}

.up-section{
    display: flex;
    justify-content: center;
    border: 1px black solid;
    /* text-align: center; */
    height: 60px;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: center;
    border: 1px black solid;
    /* text-align: center; */
    height: 60px;

}

.nav-buttons-group{
    width: 350px;
    display: flex;
    justify-content: space-around;
}

li {
    display: inline-block;
}

/* ------------------------------ */

.hero {
    border: 1px black solid;
    text-align: center;
    height: 120px;

}

.main-section{
    border: 1px black solid;
    text-align: center;
    height: 90px;

}

.footer{
    border: 1px black solid;
    text-align: center;
    height: 60px;

}

